
@{
    ViewBag.Title = "DM Group - Onine Home Jobs Program";
    Layout = "~/Views/Shared/Account.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
              $(document).ready(function () {
                  var passedError = document.getElementById("serverMessage").textContent;
                  if (passedError == "error") {
                      alert("Inncorect Code");
                  }
              });
</script>
@using (Html.BeginForm("CheckForgotPasswordCode", "Account"))
{
    <p id="serverMessage" hidden>@Session["CheckCodeSession"]</p>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../Image/bg1.jpg');">
            <div class="wrap-login100 p-t-190 p-b-30">
                <center><img src="~/Image/Logo/nainglogo.png"/></center>
                <form class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Code is required">
                        <input class="input100" type="text" name="Code" placeholder="Code">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-paper-plane"></i>
                        </span>
                    </div><br>
                    <div class="container-login100-form-btn p-t-10">
                        <button class="login100-form-btn">
                            SUBMIT
                        </button>
                    </div><br>
                    <div class="text-center w-full p-t-25 p-b-230">
                        <a href="~/Account/LoginForm" class="txt1">
                            Login
                        </a>
                        |
                        <a href="~/Account/RegisterForm?ReferredCode=1111" class="txt1">
                            Register
                        </a>
                    </div>
                    @*<div class="text-center w-full">
                            <a class="txt1" href="#">
                                Create new account
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>*@
                </form>
            </div>
        </div>
    </div>
}
