@{
    ViewBag.Title = "DM Group - Onine Home Jobs Program";
    Layout = "~/Views/Shared/faq.cshtml";
}
        <header>
            <h1>Myanmar IT Star Company Limited</h1>
        </header>
        <section class="cd-faq">
            <ul class="cd-faq-categories">
                <li><a class="selected" href="#basics">​ေမးခြန္​းမ်ား ၾကည္​့ရန္​ နိွပ္​ပါ</a></li>
                @*<li><a href="#mobile">ရွင္​းျပထား​ေသာ Videos</a></li>
                <li><a href="#mobile1">Website အသံုးျပဳပံုမ်ား</a></li>*@
            </ul>
            <div class="cd-faq-items">
                <ul id="basics" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>FAQ</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">1.Earn From Shortern Url (သို႔မဟုတ္​) link နိွပ္​ၿပီး​ေငြရတာ ဆိုတာ ဘာလဲ? </a>
                        <div class="cd-faq-content">
                            <p>
                                ပထမဆံုး နိုင္​ငံျခား Company Webisteမွာ Account ဖြင္​့ရပါတယ္​၊ အဲ့ဒီ websiteထဲမွာ linkလုပ္​ရပါတယ္​၊ ကိုယ္​ရဲ႕ link ကို အျခား​ေတြက ဝင္​ၾကည္​့လိုက္​ရင္​ ကိုယ္​့ကို Company ​က ​ေငြ​ေပးပါတယ္​။

                                ဘာလ္​ုိ႔​ေပးတာလဲ?
                                ကိုယ္​့ရဲ႕ linkကို အျခားသူ​ေတြက နိွပ္​လိုက္​တဲ့အခါ ​ေတာက္​​ေလ်ွာက္​ ​ေၾကာ္​ျငာ​ေတြထည္​့ထားတယ္​။ သူတို႔ Company က ​ေၾကာ္​ျငာအပ္​တဲ့ သူ​ေတြဆီမွ ​ေငြရထားတဲ့အတြက္​​ေၾကာင္​့ ကြၽန္​ုပ္​တို႔ကို ​ေငြ​ေပးတာ ျဖစ္​ပါတယ္​။

                                CPM Rate ဆိုတာ ဘာလဲ?
                                အႀကိမ္​​ေပါင္​း တစ္​​ေထာင္​နွိပ္​လ်ွင္​ ​ေပး​ေသာ နႈန္​းထားျဖစ္​ပါသည္​။ CPM Rate သည္​ ​ေၾကာ္​ျငာအပ္​​ေသာသူမ်ား အ​ေပၚမူတည္​၍ ​ေျပာင္​းလဲမႈ ရိွပါသည္​။ အနည္​းဆံုး CPM မွာ 2$ ျဖစ္​ပါသည္​။အမ်ားဆံုး 6$ ျဖစ္​ပါသည္​။

                                ကိုယ္​့ဟာကို လုပ္​လို႔ရလား?
                                အရင္​တုန္​းက ကိုယ္​့ဟာက္​ို လုပ္​ၾကတယ္​၊ Link ကို facebook မွာ share ၿပီး ​ေငြရွာၾကတယ္​၊ ​ေနာက္​ပိုင္​း အရမ္​းလုပ္​ၾကလြန္​းလို႔ facebook က ပိတ္​လိုက္​​ေတာ့ တင္​လို႔မရ​ေတာ့ပါဘူး၊ အဲ့ဒါ​ေၾကာင့္​ ခု​ေနာက္​ပိုင္​း တစ္​ဦးတည္​း လုပ္​လို႔ အဆင္​မ​ေျပ​ေတာ့ပါဘူး၊

                                Myanmar IT Star Company Limited က​ေရာ ဘယ္​လ္​ိုလုပ္​မွာလဲ?
                                ကုိယ္​့ရဲ႕link ကို တင္​လို႔ရတဲ့ website လုပ္​ပါမယ္​၊ Member အ​ေယာက​္​​ေပါင္​း တစ္​ရာရိွရင္​ link ​ေပါင္​းတစ္​ရာ webiste ​ေပၚမွာ ရိွ​ေနမယ္​။ Member မ်ားအားလံုး တစ္​ရက္​ အႀကိမ္​တစ္​ရာ နိွပ္​မည္​ဆိုလ်ွင္​ တစ္ႀကိမ္​တစ္​ရာျပည့္​​ေအာင္​ နိွပ္​ရပါမည္​။

                                ဝင္​​ေငြ?

                                CPM Rate 4$ ဆိုလ်ွင္
                                တစ္​ရက္​လ်ွင္​ အႀကိမ္​တစ္​ရာ နိွပ္​လ်ွင္​ 0.4$ ရပါမည္​။

                                CPM Rate 6$ ဆိုလ်ွင္
                                တစ္​ရက္​လ်ွင္​ အႀကိမ္​တစ္​ရာ နိွပ္​လ်ွင္​ 0.6$ ရပါမည္​။

                                မွတ္​ခ်က္
                                ရက္​အနည္​းအတြင္​း Member တစ္​​ေထာင္​ျပည္​့နိုင္​ပါသည္​။ တစ္​​ေထာင္​ ျပည္​့လ်ွင္​ affiliate program ထဲ မပါဘဲ နိွပ္​သည္​ကို ခြင္​့ျပဳပါမည္​။ 
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">2. ​ေငြဘယ္​လိုထုတ္​ရမလဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                                ေငြမ်ားကု္​ိ Paypal ​ေငြ account ျဖင္​့ ထုတ္​ၾကရမည္​ ျဖစ္​ပါသည္​။ ထ္​ုိမွတစ္​ဆင္​့ ကြၽန္​ုပ္​တ္ို႔ဆီသို႔ လႊဲ​ေပးရပါမည္​။

                                Paypal Account သည္​ ဖုန္​းမွ ဖြင္​့လ်ွင္​ Myanmar နိုင္​ငံ မပါ​ေတာ့​ေပ၊ Computer ျဖင္​့ လုပ္​မွသာ ရပါသည္​။ထို႔​ေၾကာင္​့ မိမိတို႔ တကယ္​အလုပ္​လုပ္​​ေသာသူ ​ေငြလႊဲ​ေသာအခါမွသာ ကြၽန္​ုပ္​တို႔ Company မွ တစ္​​ေယာက္​ခ်င္​းစီကို လုပ္​​ေပးပါမည္​၊ password ကို ျပန္​​ေျပာင္​း၍ ရပါသည္​။ Paypal မွတစ္​ဆင္​့ ျမန္​မာဘဏ္​သို႔ တရားဝင္​နည္​းလမ္​းျဖစ္​​ေသာ SWIFT Transfer ျဖင္​့ ထုတ္​ယူသြားပါမည္​။
                            </p>
                        </div> 
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">3. ​ဘယ္​​ေလာက္​ထိ ဝင္​​ေငြရနိုင္​သလဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                                ကိဳးႀကိဳးစားစားလုပ္​လ်ွင္​ တစ္​လ တစ္​သိန္​းခြဲ နွစ္​သိန္​း ရနိုင္​ပါသည္​။    
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">4. ​အျခား အက်ိဳးခံစားခြင္​့​ေတြ​ေကာ ရိွ​ေသးလား?</a>
                        <div class="cd-faq-content">
                            <p>
                                လစဥ္​လတိုင္​း ႀကိဳးစား စာရိုက္​ၿပီး သက္​တမ္​းၾကာလ်ွင္​ Company ဝင္​​ေငြထဲမွ Salary စီစဥ္​​ေပးပါသည္​။ Salary တြက္​နည္​းမွာ Private ျဖစ္​ပါသည္​။ ​ေပးနိုင္​သည္​့ ပမာဏသည္​ လုပ္ငန္​းႀကီးထြားလာမႈအ​ေပၚမူတည္​ပါသည္​။ ခန္​႔မွန္​းအရ ပ္င္ငါးလ ​ခန္​႔ လုပ္​လ်ွင္​ Bonus အပါအဝင္​ ၄ သိန္​းခန္​႔ ရိွပါမည္​။
                            </p>
                        </div>
                    </li>
                    <li>
                    <a class="cd-faq-trigger" href="#0">5. အ​ေကာင္​့ သက္​တမ္​းဘယ္​​ေလာက္​လဲ?</a>
                    <div class="cd-faq-content">
                        <p>
                            အ​ေကာင္​့သက္​တမ္​းမွာ တစ္​လ ျဖစ္​သည္​။ အလုပ္​လုပ္​​ေသာသူသည္​​ အ​ေကာင္​့မျပဳတ္​က်ဘဲ ဆက္​ရိွ​ေနပါမည္​။ အလုပ္​မလုပ္​လ်ွင္​ အ​ေကာင္​့ျပဳတ္​က်ပါမည္​။ 
                         </p>
                    </div>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">6. Company မွ Support Team ရိွသလား?</a>
                        <div class="cd-faq-content">
                            <p>
                                အ​ေကာင္​့ ဖြင္​့ၿပီးလ်င္​ Myanmar IT Star Company Limited Facebook Page မွာ Join ရမည္​့ Group ကို ​ေမးနိုင္​ပါသည္​။ လိုအပ္​သည္​့ အကူအညီမ်ားကိုလည္​း Page တြင္​ ​ေမးျမန္​းနိုင္​ပါသည္​။    
                             </p>
                        </div>
                    </li>
                </ul> 
                @*<ul id="mobile" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>ရွင္​းျပထား​ေသာ Videos</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">1. ကိုယ္​့ရဲ႕ Referral Link ကို သူငယ္​ခ်င္​းကို Messenger က​ေန ဘယ္​လို Share ရမွာလဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                            <a href="https://m.youtube.com/watch?feature=youtu.be&v=sLBrL2miHjU">https://m.youtube.com/watch?feature=youtu.be&v=sLBrL2miHjU</a>    
                            </p>
                        </div> 
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">2. ကိုယ႔္​​ေအာက္​က​ေန Registration လုပ္​တဲ့သူ​ေတြကို ဘယ္​လိုၾကည္​့မွာလဲ? Active ျဖစ္​လား မျဖစ္​လား ဘယ္​လိုၾကည့္မွာလဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                              <a href="https://youtu.be/zqM0VZrdHPY"> https://youtu.be/zqM0VZrdHPY </a> 
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">3. ဘာလို႔ Dm Group Website နဲ႔ 2Captcha website နွစ္​ခုရိွ​ေနတာလဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                                <a href="https://youtu.be/XrNM10fVZy4"> https://youtu.be/XrNM10fVZy4 </a>
                            </p>
                        </div>
                    </li>
                </ul> 
                <ul id="mobile1" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>>Website အသံုးျပဳပံုမ်ား</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">1. Registration လုပ္​နည္​း</a>
                        <div class="cd-faq-content">
                            <p>
                                <a href="https://youtu.be/ibGX60K4TEM">https://youtu.be/ibGX60K4TEM</a>
                            </p>
                        </div>
                    </li>
                </ul>*@ 
                </div>
                <a href="#0" class="cd-close-panel">Close</a>
        </section>