@{
    ViewBag.Title = "DM Group - Onine Home Jobs Program";
    Layout = "~/Views/Shared/faq.cshtml";
}
        <header>
            <h1>DM Group Online Home Job Program</h1>
        </header>
        <section class="cd-faq">
            <ul class="cd-faq-categories">
                <li><a class="selected" href="#basics">FAQ</a></li>
                <li><a href="#mobile">ရွင္​းျပထား​ေသာ Videos</a></li>
                <li><a href="#mobile1">Website အသံုးျပဳပံုမ်ား</a></li>
            </ul>
            <div class="cd-faq-items">
                <ul id="basics" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>FAQ</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">1. DM Group Online Home Job Program က ဘာအလုပ္လုပ္လဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                                စာ႐ိုက္တဲ့အလုပ္(ေက ြးေက ြး ေကာက္ေကာက္ Captcha မ်ားကို ႐ိုက္ရေသာအလုပ္) ျဖစ္ပါသည္။
                                ဒီ program အရ တစ္ရက္ကို captcha အလံုး ၃ရာ နည္းပါး ႐ိုက္ရပါသည္။
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">2. Refer ၁၀ေယာက္ ထက္ပို႐ွာရင္ေကာရလား?</a>
                        <div class="cd-faq-content">
                            <p>
                                ႀကိဳက္သေလာက္ ႐ွာလို႔ရပါသည္။ ၁၅ရက္ေန႔နဲ႔ ၃၀ရက္ေန႔ေနာက္ပိုင္းactive ျဖစ္တဲ့ သူအေရအတြက္ ေပၚမူတည္ၿပီး မိမိ wallet ထဲသို႔ ေငြက်ပ္ ေရာက္ပါမည္။
                            </p>
                        </div> 
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">3. တစ္ရက္ကို Captcha အလံုး၃ရာထက္ပို႐ိုက္လို႔ရလား?</a>
                        <div class="cd-faq-content">
                            <p>ႀကိဳက္သလို႐ိုက္လို႔ရပါတယ္။ ၁၅ရက္ျပည့္ လ်ွင္ေငြက်ပ္ ၇၅၀၀ ျပည့္ဖို႔လိုပါသည္။</p>
                        </div> 
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">4. စာမ႐ိုက္ပါ ၁၅ရက္ေနရင္ ၇၅၀၀က်ပ္သြင္းလို႔ရလား?</a>
                        <div class="cd-faq-content">
                            <p> ရပါတယ္။</p>
                        </div> 
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">5. Refer ဘယ္ ႏွစ္ဆင့္ထိDM-Group မွ ခံစားခြင့္ ရပါ သလဲ? </a>
                        <div class="cd-faq-content">
                            <p>သံုးဆင့္ အထိ ခံစားခြင့္ ရပါသည္ ။</p>
                        </div>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">6. ဘယ္ေလာက္ ရမွာလဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                                မိမိ Referal link မွ register လုပ္ထား ေသာ သူတိုင္း မွ active ျဖစ္လ်ွင္ ၁၅၀၀က်ပ္ ရပါမည္။
                                ဥပမာ - ေမာင္နီမွ အေယာက္ ၁ေထာင္ register လုပ္ထားပါက 1500000 က်ပ္ ခံစားခြင့္ ႐ွိပါမည္။
                            </p>
                        </div> 
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">7. Active, Inactive ဆိုတာဘာလဲ?</a>
                        <div class="cd-faq-content">
                            <p>မိမိ တို႔လုပ္အားခမွ ရလာေသာ ေငြက်ပ္ 7500 က်ပ္ ကို၁၅ရက္ေန႔ေနာက္ပိုင္း ႏွင့္ ၃၀ရက္ေန႔ ေနာက္ပိုင္း တြင္ Company Account ထဲသို႔ လႊဲေပးရပါမည္။ လႊဲေပးၿပီးလ်ွင္ Setting မွ Request Active ကိုႏိုပ္ရပါမည္။ Company ေငြ လပ္ ခံ ရ႐ွိေၾကာင္း စီစစ္ၿပီး လ်ွင္ Accept လုပ္ပါမည္။ Company မွ accept လုပ္ လ်ွင္ မိမိ Account သည္ Active ျဖစ္ၿပီးစိမ္း သြားပါမည္။ </p>
                        </div> 
                    </li>
                </ul> 
                <ul id="mobile" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>ရွင္​းျပထား​ေသာ Videos</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">1. ကိုယ္​့ရဲ႕ Referral Link ကို သူငယ္​ခ်င္​းကို Messenger က​ေန ဘယ္​လို Share ရမွာလဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                            <a href="https://m.youtube.com/watch?feature=youtu.be&v=sLBrL2miHjU">https://m.youtube.com/watch?feature=youtu.be&v=sLBrL2miHjU</a>    
                            </p>
                        </div> 
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">2. ကိုယ႔္​​ေအာက္​က​ေန Registration လုပ္​တဲ့သူ​ေတြကို ဘယ္​လိုၾကည္​့မွာလဲ? Active ျဖစ္​လား မျဖစ္​လား ဘယ္​လိုၾကည့္မွာလဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                              <a href="https://youtu.be/zqM0VZrdHPY"> https://youtu.be/zqM0VZrdHPY </a> 
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">3. ဘာလို႔ Dm Group Website နဲ႔ 2Captcha website နွစ္​ခုရိွ​ေနတာလဲ?</a>
                        <div class="cd-faq-content">
                            <p>
                                <a href="https://youtu.be/XrNM10fVZy4"> https://youtu.be/XrNM10fVZy4 </a>
                            </p>
                        </div>
                    </li>
                </ul> 
                <ul id="mobile1" class="cd-faq-group">
                    <li class="cd-faq-title"><h2>>Website အသံုးျပဳပံုမ်ား</h2></li>
                    <li>
                        <a class="cd-faq-trigger" href="#0">1. Registration လုပ္​နည္​း</a>
                        <div class="cd-faq-content">
                            <p>
                                <a href="https://youtu.be/ibGX60K4TEM">https://youtu.be/ibGX60K4TEM</a>
                            </p>
                        </div>
                    </li>
                </ul> 
                </div>
                <a href="#0" class="cd-close-panel">Close</a>
        </section>