
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/Team.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center><h3 style="color: #8B8378">Myanmar IT Star Co. Ltd (Team)</h3></center>
        </div>
        <div class="col-md-3">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Image/Team/Md.jpg" alt="">
                </div>
                <br>
                <div class="team-prof">
                    <h3 class="post-title">ဦး ေဇာ္နိုင္</h3>
                    <span class="post">(Managing Director)</span>
                    <p class="description">Phone:<a href="tel:09770613219">09770613219</a></p>

                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php?id=100012270796537"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Image/Team/member1.jpeg" alt="">
                </div>
                <br>
                <div class="team-prof">
                    <h3 class="post-title">ဦး ေနမ်ိဳးထ ြန္း</h3>
                    <span class="post">(Customer Relationship)</span>
                    <p class="description">Phone:<a href="tel:09671819004">09671819004</a></p>

                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php?id=100023409249436"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Image/Team/member2.jpeg" alt="">
                </div>
                <br>
                <div class="team-prof">
                    <h3 class="post-title">ဦးျပည့္၀င္း ေမာင္</h3>
                    <span class="post">(Customer Acquisition)</span>
                    <p class="description">Phone:<a href="tel:09679577081">09679577081</a></p>

                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/mg.pyae.win.maung"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Image/Team/member3.jpg" alt="">
                </div>
                <br>
                <div class="team-prof">
                    <h3 class="post-title">ေဒၚခိုင္ဖူး ေ၀</h3>
                    <span class="post">(Database Adminstrator)</span>
                    <p class="description">Phone:<a href="tel:09790200387">09790200387</a></p>

                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php?id=100014253738082"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Image/Team/member4.jpeg" alt="">
                </div>
                <br>
                <div class="team-prof">
                    <h3 class="post-title">ေဒၚ ေအးေအးမိုး</h3>
                    <span class="post">(Customer Acquisition)</span>
                    <p class="description">Phone:<a href="tel:09265320391">09265320391</a></p>

                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php?id=100016927572394"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Image/Team/member5.jpeg" alt="">
                </div>
                <br>
                <div class="team-prof">
                    <h3 class="post-title">ေဒၚနန္းေလာင္ရွဲန္</h3>
                    <span class="post">(Customer Acquisition)</span>
                    <p class="description">Phone:<a href="tel:09691336068">09691336068</a></p>

                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php?laung.laung.7121614"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Image/Team/member6.jpeg" alt="">
                </div>
                <br>
                <div class="team-prof">
                    <h3 class="post-title">ေဒၚ ျဖဴစင္သန့္</h3>
                    <span class="post">(Customer Acquisition)</span>
                    <p class="description">Phone:<a href="tel:09683854700">09683854700</a></p>

                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/phyusin.thant.90260"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="our-team">
                <div class="pic">
                    <img src="~/Image/Team/member7.jpg" alt="">
                </div>
                <br>
                <div class="team-prof">
                    <h3 class="post-title">ေဒၚ ေအးသက္မ ြန္</h3>
                    <span class="post">(Customer Acquisition)</span>
                    <p class="description">Phone:<a href="tel:09690668604">09690668604</a></p>

                    <ul class="team_social">
                        <li><a href="https://www.facebook.com/profile.php?id=100019646924850"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
