@using EventTicket.App_Code;
@using System.Data;
@{
    Base b = new Base();
    ViewBag.Title = "DM Group - Onine Home Jobs Program";
    Layout = "~/Views/Shared/MyanmarITStar.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@b.getCountByQuery("select * from Member where Date='" +DateTime.Now.ToString("MM.dd.yyyy")+ "'")</h3>
                <p><span class="zg">Today Members</span></p>
            </div>
            <div class="icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <a href="" class="small-box-footer">​<span class="zg">More Info​ </span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@b.getCountByQuery("select * from Member")</h3>
                <p><span class="zg">Total Members</span></p>
            </div>
            <div class="icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <a href="" class="small-box-footer">​<span class="zg">More Info​ </span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@b.getCountByQuery("select * from Member where Active='True'")<sup style="font-size: 20px"></sup></h3>
                <p><span class="zg">Active</span></p>
            </div>
            <div class="icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <a href="" class="small-box-footer"><span class="zg">More Info</span> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@b.getCountByQuery("select * from Member where Active='False'")</h3>
                <p>InActive</p>
            </div>
            <div class="icon">
                <i class="fa fa-pie-chart"></i>
            </div>
            <a href="" class="small-box-footer">More info<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
