@using EventTicket.App_Code;
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/MyanmarITStar.cshtml";
    Base b = new Base();
}
<div>
    <div class="box-body">      
        <a class="btn btn-app" href="~/MyanmarITStar/AcceptActive">
            <span class="badge bg-yellow">@b.getCountByQuery("select * from RequestActive")</span>
            <i class="fa fa-repeat"></i> Active Requests By 2Captcha
        </a>
        <a class="btn btn-app" href="~/MyanmarITStar/SeeRequestActiveByBank">
            <span class="badge bg-yellow">@b.getCountByQuery("select * from RequestActiveDepositHistory where Proof='False'")</span>
            <i class="fa fa-repeat"></i> Active Requests By Bank 
        </a>
        <a class="btn btn-app" href="~/MyanmarITStar/WithdrawRequest">
            <span class="badge bg-green">@b.getCountByQuery("select * from WithdrawHistory where Proof='False'")</span>
            <i class="fa fa-money"></i> Withdraw Requests
        </a>
        <a class="btn btn-app">
            <span class="badge bg-purple">891</span>
            <i class="fa fa-users"></i>Inactive Member
        </a>
        <a class="btn btn-app">
            <span class="badge bg-teal">67</span>
            <i class="fa fa-inbox"></i> Orders
        </a>
        <a class="btn btn-app">
            <span class="badge bg-aqua">12</span>
            <i class="fa fa-envelope"></i> Inbox
        </a>
        <a class="btn btn-app">
            <span class="badge bg-red">531</span>
            <i class="fa fa-heart-o"></i> Likes
        </a>
    </div>
</div>

