@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "DM Group - Onine Home Jobs Program";
    Layout = "~/Views/Shared/MyanmarITStar.cshtml";
    Base b = new Base(); int i = 1;
    DataTable dt = b.getAllByQuery("select * from RequestActiveDepositHistory where Proof='False'");
}
<div class="contentBodyBox">
    @*<font color="#8B7D6B" class="zg">The following are all registered members.</font><br /><br />*@
    <table id="displayTable" class="table table-bordered">
        <thead><tr><th><span class="zg">No</span></th><th><span class="zg">Name</span>​</th><th>Account Number</th><th><span class="zg">Amount</span></th><th>Accept/Reject</th></tr></thead>
        <tbody>
            @{
                foreach (DataRow row in dt.Rows)
                {
                    int MemberBankID = Convert.ToInt32(row["MemberBankID"]);
                    int BankID = b.getIntByQuery("select * from MemberBank where ID=" + MemberBankID, "BankID");
                    int MemberID = Convert.ToInt32(row["MemberID"]);
                    string AccountNumber = b.getStringByQuery("select * from MemberBank where ID=" + MemberBankID, "AccountNumber") +"("+b.getStringByQuery("select * from Bank where ID="+BankID,"Name")+")";
                    <tr><td>@i</td><td><font class="normalText"><span class="zg">@b.getStringByQuery("select * from Member where ID=" + MemberID, "Name")</span></font></td><td>@AccountNumber</td><td><font class="normalText"><span class="zg">7500</span></font></td><td><a href="~/MyanmarITStar/AcceptRequest?ID=@row["ID"]&MemberID=@MemberID"><span class="label label-success">Accept</span></a>&nbsp;&nbsp;<a href="~/MyanmarITStar/RejectRequest?ID=@row["ID"]&MemberID=@MemberID"><span class="label label-danger">Reject</span></a></td></tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
