<!doctype html>
<html lang="en" class="no-js">
<head>
    <style>
        .zg {
            font-family: Zawgyi-One;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='https://mmwebfonts.comquas.com/fonts/?font=zawgyi' />
    <link rel="stylesheet" href="~/Content/faq/reset_faq.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/Content/faq/DMmain_faq.css"> <!-- Resource style -->
    <script src="~/Scripts/faq/jquery-2.1.1_faq.js"></script> <!-- Modernizr -->
    <script src="~/Scripts/faq/jquery.mobile.custom.min_faq.js"></script>
    <script src="~/Scripts/faq/main_faq.js"></script>
    <script src="~/Scripts/faq/modernizr_faq.js"></script>
    <title>Myanmar IT Star Company Limited</title>
</head>
<body>
    <div class="zg">
       @RenderBody()
    </div>
</body>
</html>