<!DOCTYPE html>
<html>
<head>
    <title>Member</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Team/Team.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    @RenderBody()
</body>
</html>

