
@{
    ViewBag.Title = "Aggreement";
    Layout = "~/Views/Shared/Member.cshtml";
    int MemberID = Convert.ToInt32(Session["CurrentUserID"]);
}

<div class="contentBodyBox">
    <font class="zg" color="#8B7D6B">​ေအာက္​ပါအခ်က္​တို႔ကို သင္​ သ​ေဘာတူရပါမည္​</font><br><br>
    @*<i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg">  </span><br>*@
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg">သင္​့ Account Active ျဖစ္​ရန္​အတြက္​ 15 ရက္​​ေန႔​ေနာက္​ပိုင္​း ၃၀ ရက္​​ေန႔​ေနာက္​ပိုင္​းတြင္​ 2Captcha Website မွ 5 Dollar လႊဲရပါမည္​။ လႊဲရမည္​့ Company Account မွာ dmgrouponlinehomejobsprogram@gmail.com ျဖစ္​ပါသည္​။</span><br>
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg">တစ္​လ ​ေနၿပီး သင္​့ Account Active မျဖစ္​ပါက သင္​့ Account က်သြားပါမည္​။ Account က်လ်ွင္​ သင္​့ Referal Link မွာ လူအားလံုးသည္​ သင္​့ အထက္​လူဆီ ​ေ႐ႊ ့​ေျပာင္​းခံရပါမည္​။</span><br>
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg">Withdraw တင္​လ်ွင္​ သင္​့ Bank Account ထဲ​ေရာက္​ရန္​အတြက္​ 24 to 48 hours ၾကာပါမည္​။</span><br>
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg">သင္​၏ Bank Account Name နွင္​့ Registration တြင္​ သံုးခဲ့​ေသာ သင္​၏ နာမည္​တို႔သည္​ တူရပါမည္​။ မတူလ်ွင္​ ​ေငြထုတ္​​၍ ရမည္​ မဟုတ္​ပါ။</span><br>
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg"> သင္​့၏ MemberID မွာ @MemberID ျဖစ္​ပါသည္​။ Problem ျဖစ္​လာပါက အသံုးျပဳနိုင္​ရန္​ မွတ္​ထား​ေပးပါရန္​။ </span><br>
</div>

