
@{
    ViewBag.Title = "Aggreement";
    Layout = "~/Views/Shared/Member.cshtml";
    int MemberID = Convert.ToInt32(Session["CurrentUserID"]);
}

<div class="contentBodyBox">
    <font class="zg" color="#8B7D6B">​ေအာက္​ပါအခ်က္​တို႔ကို သင္​ သ​ေဘာတူရပါမည္​</font><br><br>
    @*<i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg">  </span><br>*@
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg"> သင္​့၏ MemberID မွာ @MemberID ျဖစ္​ပါသည္​။ Problem ျဖစ္​လာပါက အသံုးျပဳနိုင္​ရန္​ မွတ္​ထား​ေပးပါရန္​။ </span><br>
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg">  ​ေငြႀကိဳမ​ေပးရပါ၊ ထုတ္​တဲ့အခ်ိန္​မွသာ ​ေပးရပါမည္​။ Account ၿပီး စာမရိုက္​ ​ေငြမထုတ္​လ်ွင္​ Fee မ​ေပးရပါ။ ​သို႔​ေသာ္​ ​ေငြမထုတ္​လ်ွင္​ Account သည္​ 1 month lifetime သာ ျဖစ္​​ေသာ​ေၾကာင္​့ အ​ေကာင္​့ပ်က္​က်ပါမည္​။ ၂ ခါ အ​ေကာင္​့ပ်က္​က်ဖူးလ်ွင္​ မိမိတို႔ နာမည္​နွင္​့ ဤ website တြင္​ Registration လုပ္​၍ ရ​ေတာ့မယ္​ မဟုတ္​​ေပ</span><br>
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg">  မိမိတို႔ Registration လုပ္​ရာတြင္​ သံုးခဲ့​ေသာ နာမည္​နွင္​့ Bank Account နာမည္​ တူရပါမည္​။ သို႔မွသာ ​ေငြထုတ္​သူ ဟုတ္​မဟုတ္​ သိနိုင္​ပါမည္​။ မတူလ်ွင္​ ​ေငြထုတ္​​ေပးမည္​ မဟုတ္​​ေပ။ နာမည္​ ​ေျပာင္​း လိုလ်ွင္​ Customer Service သို႔ဖုန္​းဆက္​ရန္​။</span><br>
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg"> တစ္​လ 5 Dollar ယူပါသည္​​။ တစ္​လအတြင္​း ရိုက္​ၿပီး ရသ​ေလာက္​ကို မိမိတို႔Wallet ထဲ ထည္​့​ေပးပါမည္​။ႀကိဳးစားၿပီး ရိုက္​လ်ွင္​ တစ္​လ တစ္​သိန္​းခြဲ နွစ္​သိန္​း
 ​ေအး​ေအး​ေဆး​ေဆး ရနိုင္​ပါသည္​။ Dollar ​ေတြက္​ုိ တရားဝင္​ Bank မွလႊဲ ျမန္​မာ​ေငြက်ပ္​​ေျပာင္​းၿပီး ​ေပးမည္​ ျဖစ္​ပါသည္​။ </span><br>
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg"> မိမိတို႔ စာျမန္​ျမန္​ရိုက္​နိုင္​ရန္​အတြက္​ Browser ၄ ခုမွ ၿပိဳင္​ရိုက္​ရန္​၊ 2 Captcha Website သို႔ တစ္​ၿပိဳင္​တည္​း Login ဝင္​၍ ရပါသည္​။</span><br />
     <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg"> မိမိ ​ေငြပမာဏမ်ားစြာရိွ​ေသာ မိမိ Bank Account ျဖင္​့ အသံုးမျပဳရန္​ အသစ္​လုပ္​ရန္​ အႀကံ​ေပးလိုပါသည္​။ မိမိတို႔ စ္ိတ္​​ေအး​ေအးခ်မ္​းခ်မ္​း ​ေနနိုင္​ရန္​ျဖစ္​သည္​။ အခ်ိဳ႕​ေသာသူမ်ား Hack နိုင္​သည္ဟု ​ေျပာဆို​ေနၾက​ေသာ​ေၾကာင့္​ျဖစ္​ပါသည္​။  </span><br>
    </span><br>
</div>

