@using EventTicket.App_Code;
@using System.Data;
@{
    Base b = new Base();
    Node n = new Node();
    int ActiveCount = 0;int InactiveCount = 0;
    int MemberID = Convert.ToInt32(Session["CurrentUserID"]);
    Array MemberList = n.GetTotalNodeList(MemberID, 0);
    Layout = "~/Views/Shared/Member.cshtml";
    foreach (int j in MemberList)
    {
        Boolean isActive = b.getBooleanByQuery("select * from Member where ID=" + j, "Active");
        if (isActive)
        {
            ActiveCount++;
        }
        else
        {
            InactiveCount++;
        }
    }
}

<div class="row">
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>@b.getIntByQuery("select * from Wallet where MemberID=" + MemberID, "Balance") Ks</h3>
                <p>Wallet-@b.getStringByQuery("select * from Wallet where MemberID=" + MemberID, "WalletNumber")</p>
            </div>
            <div class="icon">
                <i class="fa fa-dollar"></i>
            </div>
            <a href="~/Member/Transfermoney" class="small-box-footer">Transfer Money<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ActiveCount<sup style="font-size: 20px"></sup></h3>
                <p><span class="zg">Work</span></p>
            </div>
            <div class="icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <a href="" class="small-box-footer"><span class="zg">More Info</span> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@InactiveCount</h3>
                <p>Don't Work</p>
            </div>
            <div class="icon">
                <i class="fa fa-pie-chart"></i>
            </div>
            <a href="" class="small-box-footer">More info<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

