
@using System.Data;
@using EventTicket.App_Code;
@{
    ViewBag.Title = "Myanmar IT Star Company Limited";
    Layout = "~/Views/Shared/Member.cshtml";
    Base b = new Base();
    int MemberID = Convert.ToInt32(Session["CurrentUserID"]);
    int ReferralCode = b.getIntByQuery("select * from Member where ID=" + MemberID, "ReferralCode");
}

<div class="col-md-6">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">4 Browser</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox">Firefox Browser</a><br />
            <a href="https://play.google.com/store/apps/details?id=com.android.chrome">Chrome Browser</a><br />
            <a href="https://play.google.com/store/apps/details?id=com.UCMobile.intl">UC Browser</a><br />
            <a href="https://play.google.com/store/apps/details?id=com.opera.browser">Opera Browser</a><br />
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

