
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/Member.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
              $(document).ready(function () {
                  var passedError = document.getElementById("serverMessage").textContent;
                  if (passedError == "Success") {
                      alert("Request for Active is made successfully");
                  }
                  else if (passedError == "AlreadyRequest") {
                      alert("You have Already Requested");
                  }
              });
</script>
<p id="serverMessage" hidden>@Session["Message"]</p>
<div>
    <div class="box-body">
        <a class="btn btn-app" href="~/Member/RequestActive">
            <i class="fa fa-repeat"></i>Request Active By 2Captcha
        </a>
        <a class="btn btn-app" href="~/Member/RequestActiveByBankDeposit">
            <i class="fa fa-money"></i> Request Active By Bank Deposit
        </a>
        <a class="btn btn-app" href="~/Member/Change2CaptchaEmailForm">
            <i class="fa fa-edit"></i> Captcha Email
        </a>
        <a class="btn btn-app" href="~/Member/AddBankForm">
            <i class="fa fa-bank"></i> Add Bank Account
        </a>
        <a class="btn btn-app" href="~/Member/TransferMoney">
            <i class="fa fa-plus"></i> Transfer Money
        </a>
        <a class="btn btn-app" href="~/Member/WithdrawMoney">
            <i class="fa fa-money"></i> Withdraw Request
        </a>
    </div>
</div>

