
@{
    ViewBag.Title = "AboutCEO";
    Layout = "~/Views/Shared/PublicUser.cshtml";
}

<div class="contentHeadBox">
    <div class="row">
        <div class="col-md-6"><center><img src="~/Image/CEO.JPG" style="width:90%;height:auto;" /></center></div>
        <div class="col-md-6">
               <p class="lyrisBox">
                   <b> Zaw Naing</b> recieved Master Degree in Computer Science from the University of Computer Studies, Mandalay (UCSM).
                   <br /> He also recieved Post Graduate Diploma in Software Developement from Myanmar Institute of Information Technology. 
                   <br />He was awarded by 1st Entrepreneurship Startup Competition and Startup Israel 2017. He aslo receive Young Technopreneur Award of 2017. 
                   <br />At present, he works as Chief Executive Officier of <a href="http://www.myanmaritstar.com">MyanmarITStar Co.Ltd. (Software Development and Foreign Exchange Market Company)</a> , Managing Director of <a href="www.topticketcenter.com">TopTicketCenter</a>, and CTO in 3L Education Co. Ltd, and CTO in <a href="https://www.inspirewebservicesmm.com/">Inspired Web Services</a>.
    <br /><br />-> No 20, Thrimyaing 4st, Yard 13, Hlaing Township, Yangon, Myanmar
    <br />-> zawnaing@topticketcenter.com, zawnaing528and1500@gmail.com
    <br />-> +959257706564

</p>
        </div>
    </div>
</div>