@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "AllEvent";
    Layout = "~/Views/Shared/PublicUser.cshtml";
    Base b = new Base();
    DataTable dt = b.getAllByQuery("select distinct ECategoryID from Event where ECategoryID !=19 and ECategoryID !=24 and IsPublic='True'");
}
<div class="contentHeadBox">
    @{
        foreach (DataRow row in dt.Rows)
        {
            int ECategoryID = Convert.ToInt32(row["ECategoryID"]);
            string Category = b.getStringByQuery("select * from ECategory where ID=" + ECategoryID, "Name");
            <a href="~/PublicUser/Event?ECategoryID=@ECategoryID" class="hvr-wobble-vertical"><img src="~/Image/open.png" />&nbsp;&nbsp;&nbsp;&nbsp;<b>@Category</b></a><br />
        }
    }
    <a href="~/PublicUser/SeeCinemaOrgByTown" class="hvr-wobble-vertical"><img src="~/Image/open.png" />&nbsp;&nbsp;&nbsp;&nbsp;<b>Cinema</b></a><br />
    <a href="~/PublicUser/SeeCarGateByTown" class="hvr-wobble-vertical"><img src="~/Image/open.png" />&nbsp;&nbsp;&nbsp;&nbsp;<b>Car Gate</b></a><br />
</div>

