
@{
    ViewBag.Title = "Construction";
    Layout = "~/Views/Shared/PublicUser.cshtml";
}

<center>
    <h3>Under Construction</h3>
    <br />
    <img src="~/Image/Icon/construction.png" />
</center>
