@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/PublicUser.cshtml";
    Base b = new Base();
    EncryptParameter e = new EncryptParameter();
    DataTable dt = b.getAllByQuery("select * from Event");

}
@{
    foreach (DataRow row in dt.Rows)
    {
        //take number of TotalTicket, Name for number of seat
        int EID = Convert.ToInt32(row["ID"]);
        string E_EID = e.Encrypt(EID.ToString(), "ETicket");
        int TotalTicket = Convert.ToInt32(row["TotalTicket"]);
        string Name = row["Name"].ToString();

        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        <img src="~/Image/MissTeenFINAL.jpg" style="width:100%;height:auto;">
                    </div>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li class="zg"><a href="~/PublicUser/AllTicket?E_EID=@E_EID">Tickets (လက္မွတ္မ်ား)<span class="pull-right badge bg-blue">@b.getCountByQuery("select * from Seat where EID=" + EID) ေစာင္</span></a></li>
                    </ul>
                </div>
            </div>

    }
}





