
@{
    ViewBag.Title = "SecreteCodeForm";
    Layout = "~/Views/Shared/PublicUser.cshtml";
}
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
              $(document).ready(function () {
                  var passedError = document.getElementById("serverMessage").textContent;
                  if (passedError == "wrong") {
                      alert("Inncorect Secret Code");
                  }
              });
</script>
<p id="serverMessage" hidden>@Session["SecretCodeSession"]</p>
<form action="~/PublicUser/ProcessSecretCodeForm" method="post">
    <div class="contentFormBox">
        <center>
            <table><tr><td class="zg"><input type="text" name="SecretCode" class="form-control" placeholder="လွ်ဳိ႕ဝွက္​ နံပတ္​ ထည္​့ရန္​" /></td><td class="zg"><input type="submit" class="btn btn-primary" value="ဝင္​မည္​" /></td></tr></table>
        </center>
    </div>
</form>


