@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "SeeCinemaOrg";
    Layout = "~/Views/Shared/PublicUser.cshtml";
    string Town = ViewBag.Town;
    Base b = new Base();
    DataTable dt = b.getAllByQuery("select distinct EOrgID from Event where ECategoryID =" + 24 + " and Town='" + Town + "'  and IsPublic='True'");
}
<div class="contentHeadBox">
    @{
        foreach (DataRow row in dt.Rows)
        {
            int EOrgID = Convert.ToInt32(row["EOrgID"]);
            string Name = b.getStringByQuery("select * from EOrg where ID=" + EOrgID, "Name");
            <a href="~/PublicUser/Event?EOrgID=@EOrgID&ECategoryID=24"><img src="~/Image/open.png" />&nbsp;&nbsp;&nbsp;&nbsp;<b>@Name</b></a><br />
        }
    }
</div>

