@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "AllEvent";
    Layout = "~/Views/Shared/PublicUser.cshtml";
    Base b = new Base();
    DataTable dt = b.getAllByQuery("select distinct Town from Event where ECategoryID =" + 24 + " and IsPublic='True'");
}
<div class="contentHeadBox">
    @{
        foreach (DataRow row in dt.Rows)
        {
            string Town = row["Town"].ToString();
            <a href="~/PublicUser/SeeCarGate?Town=@Town"><img src="~/Image/open.png" />&nbsp;&nbsp;&nbsp;&nbsp;<b>@Town</b></a><br />
        }
    }

</div>