
@{
    ViewBag.Title = "SeePopup";
    Layout = "~/Views/Shared/PublicUser.cshtml";
}
<head>
    <!-- https://publishers.propellerads.com-->
    <meta name="propeller" content="2713efdc9c4437cc7ad3cca081c62242">
    <!--Pleasent Tag: ONclick(pop under)-->
    <script type="text/javascript" src="//deloplen.com/apu.php?zoneid=2777040" async data-cfasync="false"></script>
</head>

<div class="contentFormBox">
    <cennter><span class="zg">​​ေပါ့အပ္​ ​ေၾကာ္​ျငာမ်ား ​ေပၚလာပါမည္​။</span></cennter>
</div>

