@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "ShowBranch";
    Layout = "~/Views/Shared/StockCentral.cshtml";
    StockBase stock = new StockBase();
    int CentralID = Convert.ToInt32(Session["CurrentUserID"]);
    DataTable branch = stock.getAllByQuery("select * from Branch where CentralID="+CentralID);

}
<div class="contentHeadBox">
    @{
        foreach (DataRow row in branch.Rows)
        {
            int ShopID = Convert.ToInt32(row["ShopID"]);
            string ShopName = stock.getStringByQuery("select * from Shop where ID=" + ShopID, "Name");
            <a href="~/StockCentral/View?ECategoryID=@ShopID" class="hvr-wobble-vertical"><img src="~/Image/open.png" />&nbsp;&nbsp;&nbsp;&nbsp;<b>@ShopName</b></a><br />
        }
    }
</div>

