@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "AddSMSGate";
    Layout = "~/Views/Shared/EOrg.cshtml";
    Base b = new Base();
    int EOrgID = Convert.ToInt32(Session["CurrentUserID"]);
    DataTable dt = b.getAllByQuery("select * from SMSGateway where EOrgID=" + EOrgID);
}

@using (Html.BeginForm("InsertSMSGate", "EOrg"))
{
    <div class="contentHeadBox">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" name="SMSGateway" placeholder="Enter Your SMS Gate" required />
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-primary" value="ADD" />
            </div>
        </div>
    </div>
}

<br />
<div class="contentBodyBox">
    
        @{
            if (b.CheckByQuery("select * from SMSGateway where EOrgID=" + EOrgID) == false)
            {
                <center><img src="~/Image/Icon/404.png" /></center>
            }
            else
            {
                int i = 1;
                <table class="table table-bordered" style="background-color:#F6F9ED;">
                    <tr><th>No</th><th>SMS Gateway IP</th><th></th></tr>
                    @{ 
                        foreach(DataRow row in dt.Rows)
                        {
                            <tr><td>@i</td><td>@row["IP"].ToString()</td><td><a href="~/EOrg/DeleteSMSGate?SMSGateID=@row["ID"]"><img src="~/Image/Icon/delete.png" /></a></td></tr>
                            i = i + 1;
                        }
                    }
                </table>
            }
        }
               
</div>

