
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/EOrg.cshtml";
}

<div class="col-md-4">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header" style="background-color:#F6F9ED;">
            <div class="widget-user-image">
                <img class="img-circle" src="~/Image/MissGoldenLand.jpg" alt="User Avatar">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">Miss Golden Land</h3><br />
        </div>
        <div class="box-footer no-padding">
            <ul class="nav nav-stacked">
                <li><a href="#">ခုံအားလုံးပြ<span class="pull-right badge bg-blue">200 ခုံ</span></a></li>
                <li><a href="#">လက်မှတ်များ<span class="pull-right badge bg-blue">200 စောင်</span></a></li>
                <li><a href="#">ခုံစီမည်</a></li>
                <li><a href="#">ခုံစျေးသတ်မှတ်မည်</a></li>
            </ul>
        </div>
    </div>
    <!-- /.widget-user -->
</div>



