@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/EOrg.cshtml";
    Base b = new Base();
    EncryptParameter e = new EncryptParameter();
    int EOrgID = Convert.ToInt32(Session["CurrentUserID"]);
    DataTable dt = b.getAllByQuery("select * from Event where EOrgID="+EOrgID+ " order by EDate Asc");

}
@{
    foreach (DataRow row in dt.Rows)
    {
        //take number of TotalTicket, Name for number of seat
        int EID = Convert.ToInt32(row["ID"]);
        string E_EID = e.Encrypt(EID.ToString(), "ETicket");
        int TotalTicket = Convert.ToInt32(row["TotalTicket"]);
        string Name = row["Name"].ToString();
        string Date = Convert.ToDateTime(row["EDate"]).ToString("MM/dd/yyyy");
        string Time = row["Time"].ToString();
        string Cover = row["ImageName"].ToString();
        string access = "Public";
        Boolean IsPublic = Convert.ToBoolean(row["IsPublic"]);
        if(IsPublic == false)
        {
            access = "Private";
        }


        <div class="col-md-4">
            <!-- Widget: user widget style 1 -->
            <div class="widget-user-header bg-yellow">
                <div class="widget-user-image">
                    <img src="~/Image/Cover/@Cover" style="width:100%;height:auto;">
                </div>
            </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li class="zg" style="background-color:#FDFCDC;border:1px solid #F5F5DC"><a href="#">@Name</a></li>
                        <li class="zg" style="background-color:#FDFCDC;border:1px solid #F5F5DC"><a href="#">@Date , @Time</a></li>
                        <li><a href="~/EOrg/SetRowDetail?E_EID=@E_EID">Manage Seat (ခုံစီမံ)</a></li>
                        <li><a href="~/EOrg/SetSeatStatus?E_EID=@E_EID">Manage Ticket (လက္မွတ္မ်ား)<span class="pull-right badge bg-blue">@b.getCountByQuery("select * from Seat where EID="+EID) စောင်</span><span class="pull-right badge bg-blue">@access</span></a></li>
                        <li><a href="~/EOrg/EditEvent?E_EID=@E_EID">Edit Data (ျပင္မည္)</a></li>
                        <li><a href="~/EOrg/ResetEvent?E_EID=@E_EID">Reset Data (ရွင္းလင္းမည္)</a></li>
                         <li><a href="~/EOrg/DeleteEvent?E_EID=@E_EID">Delete Item (ဖ်က္ပစ္မည္)</a></li>
                        <li style="background-color:#FEFFEF;color:dimgray;"><a href="#">Item Code - @EID (For Error Tracking Purpose)</a></li>
                     </ul>
                </div>
            </div>

    }
}





