
@{
    ViewBag.Title = "LoginForm";
    Layout = "~/Views/Shared/LoginRegister.cshtml";
}
            <script>
              $(document).ready(function () {
                  var passedError = document.getElementById("serverError").textContent;
                  if ( passedError != "") {
                      document.getElementById("error").innerHTML = "<font color='red' class='zg'>Username ႏွင့္ Password မွားေနသည္</font>";
                  }
                  else {
                      document.getElementById("error").innerHTML = "";
                  }

              });
            </script>

@using (Html.BeginForm("CheckUsernameAndPassword", "Login"))
{
<br /><br /><br />
<p id="serverError" hidden>@Session["LoginSession"]</p>
<center>
    @*<img src="~/Image/Logo/logo.png" style="background-color:rgba(192,192,192,0.3);border-radius:3px;"/>*@
    <div class="loginForm">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <span class="zg"><input type="text" name="Username" class="form-control" placeholder="Enter Username (အမည္ထည့္ပါ)" required></span>
                </div>
            </div>
            <br /><br />
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa  fa-unlock-alt"></i></span>
                    <span class="zg"><input type="password" name="Password" class="form-control" placeholder="Enter Password (စကားဝွက္ထည့္ပါ)" required></span>
</div>
            </div>

            <br />
            <div class="col-md-12">
                <span id="error"></span>
            </div>
            <br />
            <div class="col-md-12">
                <button type="submit" class="btn btn-info pull-center">Log in</button>
            </div>
        </div>
    </div>
    <div class="contentBodyBox">
        <br />
        <font color="#8B7D6B" class="zg"><a href="/Shop/ShowSuccessNumber" class="label label-danger">ထီ​ေပါက္​စဥ္​ၾကည္​့ရန္​​</a></font>
        <br />
     </div>
</center>
}

