@using EventTicket.App_Code;
@using System.Data;
@{
    Base b = new Base();
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/Shop.cshtml";
}

@using (Html.BeginForm("ProcessCustomerForm", "Shop"))
{
    <p class="zg">
        <div class="contentHeadBox">
            <div class="row">
                <div class="col-md-4">
                    <span class="zg"><input type="text" name="Name" placeholder="အမည္​ျဖည္​့ပါ " class="form-control" required /></span>
                </div>
                <div class="col-md-4">
                    <span class="zg"><input type="number" name="Phone" placeholder="ဖုန္​းနံပါတ္ျဖည္​့ပါ​" class="form-control" required /></span>
                </div>
                <div class="col-md-4">
                    <span class="zg"> <input type="text" name="Address" placeholder="လိပ္​စာျဖည္​့ပါ" class="form-control" required /></span>
                </div>
            </div>
            <br />
            <center> <span class="zg"><input type="submit" class="btn btn-primary" value="ထည္​့မည္" /></span></center>
        </div>
    </p>
}
