
@{
    ViewBag.Title = "ShowAggreement";
    Layout = "~/Views/Shared/Shop.cshtml";
}

<div class="contentBodyBox">
    <font color="#8B7D6B" class="zg">​ေအာက္​ပါအခ်က္​တို႔ကို သင္​ သ​ေဘာတူရပါမည္​</font><br /><br />
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg"> <b>စာရင္​းခ်ဳပ္​ </b> ကို ​လကုန္​အထိၾကည့္နိုင္​ပါသည္​။ ​ေနာက္​လ ၁ရက္​​ေန႔မွ စၿပီး အလိုအ​ေလ်ွာက္​ပ်က္​သြားပါမည္​။</span> <br /><br />
    <i class="fa fa-check-square-o" aria-hidden="true"></i><span class="zg"> သင္​့အ​ေကာင္​့ သက္​တမ္​းျပည္​့လ်ွင္​ Login ဝင္​၍ ရ​ေတာ့မည္​ မဟုတ္​ပါ။</span> 
    
</div>
