@using EventTicket.App_Code;
@using System.Data;
@{
    Base b = new Base();
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/Shop.cshtml";
    int ShopID = Convert.ToInt32(Session["CurrentUserID"]);
    DataTable dtCustomer = new DataTable();
}

<div class="contentBodyBox">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th style="width: 10px">No</th>
                <th> <span class="zg">ထီထိုးသူ</span>​</th>
                <th style="width: 40px"> <span class="zg">ထီနံပါတ္​</span></th>
            </tr>
            @{
                int i = 1;
                int j = 1;
                dtCustomer = b.getAllByQuery("select * from Customer where ShopID=" + ShopID + "and MONTH(Date) = MONTH(GetDate())AND YEAR(Date) = YEAR(GetDate())");
                foreach (DataRow rows in dtCustomer.Rows)
                {
                    <tr>
                        <td>@i</td>
                        <td>
                            <span class="zg"> @rows["Name"]</span>
                        </td>
                        <td>
                            <span class="zg">
                                @{

                                    DataTable dtHteNumber = b.getAllByQuery("select * from HteNumber where CustomerID=" + Convert.ToInt32(rows["ID"]));
                                    foreach (DataRow HteNumber in dtHteNumber.Rows)
                                    {
                                        @j @HteNumber["No"]; j++;
                                        <br />
                                    }
                                }
                            </span>
                        </td>
                    </tr>
                                        i++;
                                    }
            }
        </tbody>
    </table>
    </div>